{% extends "base.html" %}
{% block content %}
<h1 class="page-title">Login</h1>
<div class="glass form-box">
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p style="text-align:center; margin-top:15px;">
        Don’t have an account? <a href="{{ url_for('register') }}">Register here</a>.
    </p>
</div>
{% endblock %}

